html {
  box-sizing: border-box; 
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 3%;
}

body {
  margin: 0;
  height: 100%;
  border: 1px solid red;
}

#container { 
  margin: 0;
  display: flex;
  height: 97%;
  border: 1px solid black; 
}

.divs {
  margin: 0; 
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.etch {
  margin: 0; 
  flex: 1; 
  background-color: black; 
} 