html {
  box-sizing: border-box; 
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.btn {
  height: 3%;
}

body {
  margin: 0;
  height: 100%;
  border: 1px solid red;
}

#container { 
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 97%;
  border: 1px solid black; 
}

/* grid squares need styled so they are properly responsive to page size */
.etch {
  height: 2.56%;
  width: 2.56%;
  background-color: black; 
} 